@media only screen and (max-width: 375px) {
    .nora {
        padding: 152px 37px 36px;
    }

    .in_nora {
        padding: 68px 32px 0;
    }

    .letter {
        margin-bottom: 32px;
    }

    .nora {
        margin-bottom: 32px;
    }

    .social {
        display: none;
    }
    .project {
        background: url("../images/mobile_project.png") no-repeat;
        height: 100vh;
        background-size: 100% auto;
        padding: 5px 28px 0;
    }

    .wrapper {
        padding: 300px 15px;
    }

    .image_service {
        width: 100%;
    }

    .box {
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
    }

    .services {
        flex-wrap: wrap;
    }

    .in_box {
        flex-wrap: wrap;
        padding: 0;
    }

    .text_in_box {
        width: 100%;
        margin: 0 0 170px;
    }
    .list {
        width: 100%;
    }
    .inbox_text {
        width: 100%;
    }
    .text {
        font-size: 13px;
    }
    .about {
        background: url("../images/background_img2.png");
    }
}