
/*.navBurger {*/
/*    position: fixed;*/
/*    right: 20px;*/
/*    top: 20px;*/
/*    cursor: pointer;*/
/*    background: white;*/
/*    box-sizing: border-box;*/
/*    background-clip: content-box;*/
/*    width: 18px;*/
/*    height: 24px;*/
/*    border-top: 11px solid transparent;*/
/*    border-bottom: 11px solid transparent;*/
/*    -webkit-transform: rotate(0deg);*/
/*    transform: rotate(0deg);*/
/*    -webkit-transition: all 0.25s ease-in-out;*/
/*    transition: all 0.25s ease-in-out; }*/
/*.navBurger:before, .navBurger:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    background: white;*/
/*    height: 2px;*/
/*    width: 100%;*/
/*    right: 0;*/
/*    will-change: rotate;*/
/*    -webkit-transform: rotate(0deg);*/
/*    transform: rotate(0deg);*/
/*    -webkit-transition: all 0.5s ease;*/
/*    transition: all 0.5s ease; }*/
/*.navBurger:before {*/
/*    top: -6px; }*/
/*.navBurger:after {*/
/*    bottom: -6px;*/
/*    width: 100%; }*/
/*.navBurger.active {*/
/*    background: transparent;*/
/*    background-clip: content-box; }*/
/*.navBurger.active:before {*/
/*    -webkit-transform: rotate(135deg);*/
/*    transform: rotate(135deg);*/
/*    top: 0;*/
/*    background: #eee;*/
/*    width: 110%; }*/
/*.navBurger.active:after {*/
/*    bottom: 0;*/
/*    -webkit-transform: rotate(-135deg);*/
/*    transform: rotate(-135deg);*/
/*    background: #eee;*/
/*    width: 110%; }*/

/*.overlay {*/
/*    position: fixed;*/
/*    background: #2a3140;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    opacity: 0;*/
/*    transform-origin: right top;*/
/*    transform: scale(0);*/
/*    visibility: hidden;*/
/*    transition: all 0.4s ease-in-out;*/
/*    overflow: hidden; }*/
/*.overlay.open {*/
/*    opacity: 0.7;*/
/*    visibility: visible;*/
/*    transform: scale(1); }*/
/*.overlay.open li {*/
/*    display: block;*/
/*    animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;*/
/*    animation-delay: 0.4s;*/
/*    transform: rotate(-7deg);*/
/*    transform-origin: right bottom; }*/
/*.overlay.open li:nth-of-type(2) {*/
/*    animation-delay: 0.5s; }*/
/*.overlay.open li:nth-of-type(3) {*/
/*    animation-delay: 0.6s; }*/
/*.overlay.open li:nth-of-type(4) {*/
/*    animation-delay: 0.7s; }*/
/*.overlay.open li:nth-of-type(5) {*/
/*    animation-delay: 0.8s; }*/

/*.overlayMenu {*/
/*    position: absolute;*/
/*    text-align: right;*/
/*    right: 10vw;*/
/*    bottom: 30vw;*/
/*    }*/
/*.overlayMenu ul {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    margin: 0 auto;*/
/*    display: block;*/
/*    position: relative;*/
/*    height: 100%; }*/
/*.overlayMenu ul li {*/
/*    display: block;*/
/*    position: relative;*/
/*    opacity: 0;*/
/*    width: 100%; }*/
/*.overlayMenu ul li a {*/
/*    display: inline-block;*/
/*    border: 1px solid rgba(255, 255, 255, 0.09);*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*    font-size: 30px;*/
/*    padding: 10px 40px 10px 40px;*/
/*    margin: 5px 0;*/
/*    transition: 0.2s; }*/
/*.overlayMenu ul li a:hover, .overlayMenu ul li a:active, .overlayMenu ul li a:focus {*/
/*    transform: translateX(-2px);*/
/*    padding-left: 80px;*/
/*    outline: 1px solid rgba(255, 255, 255, 0.3);*/
/*    background: rgba(255, 255, 255, 0.03); }*/

/*.locked {*/
/*    overflow: hidden; }*/

/*@keyframes fadeInRight {*/
/*    0% {*/
/*        opacity: 0;*/
/*        left: 50px; }*/
/*    100% {*/
/*        opacity: 1;*/
/*        left: 0;*/
/*        transform: rotate(0deg); } }*/
/*html {*/
/*    margin: 0;*/
/*    background: #eee;*/
/*    color: #222;*/
/*    font-weight: 300;*/
/*    font-family: "Raleway"; }*/

/*h1 {*/
/*    font-size: 2rem;*/
/*    color: #222; }*/

/*p {*/
/*    line-height: 40px;*/
/*    font-size: 16px;*/
/*    font-family: "Crimson Text";*/
/*    color: #222;*/
/*}*/


.about {
    background: url("../images/background_about.png") no-repeat;
    padding-top: 16px;
    height: 100vh;
    background-size: 100% auto;
}
.wrapper{
    padding-top: 168px;
    padding-bottom: 161px;
    background-color: white;
}
.text{
    color: #747a7f;
    font-size:18px;
    line-height: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.box{
    padding:50px 75px 50px 42px;
    width: 50%;
}
.in_box{
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
}
.services{
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
}
@keyframes pulsing{
    0%{
        transform:  scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
.title2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 45px;
    color: #505d68;
    margin-bottom: 92px;
    animation: pulsing 2s infinite;
}
.text_in_box{
    margin-left: 13px;
    color: #747A7F;
    width: 50%;
    margin-right: 100px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 18px;
}
.image_service img{
    width: 100%;
}
.image_service{
    width: 50%;
}
.list{
    list-style: none;
    width: 50%;
    font-size: 18px;
    color: #747A7F;
    font-weight: 300;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
}

.project{
    background: url("../images/background_nora.png") no-repeat;
    padding-top: 16px;
    height: 100vh;
    background-size: 100% auto;
}
.nora{
    background-color: white;
    padding: 84px 0 55px;
}
.in_nora{
    max-width: 1155px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 85px 0 64px;
}
.in_nora:after{
    clear: both;
    content: "";
    display: block;
}
.inside{
    max-width: 1024px;
    margin: auto;
}
.block1{
    max-width: 665px;
    margin: auto;
    padding-top: 24px;
    float: left;
}
.supertitle{
    font: bold 45px 'Open Sans', sans-serif;
    color: black;
    margin-bottom: 129px;
}
.inform{
    font: 400 20px 'Cardo', serif;
    color: black;
    margin-bottom: 140px;
}
.bold{
    font-family: 'Cardo', serif;
    font-weight: 700;
}
.img_nora{
    width: 100%;
    margin-bottom: 21px;
}
.img_nora img{
    width: 100%;
}
.block2{
    max-width: 298px;
    margin: auto;
    float: right;
}
.letter{
    width: 100%;
    margin-bottom: 3px;
}
.social{
    background-color: white;
    padding: 105px 0 77px;
}
.button_social{
    text-transform: uppercase;
    color: #c0c0c0;
    font: 300 15px 'Open Sans', sans-serif;
    display: block;
    background-color: white;
    border: solid #a1a1a1 1px;
    max-width: 249px;
    width: 100%;
    text-align: center;
    margin: auto;
    line-height: 57px;
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: space-between;
}