
.box{
    padding:50px 75px 50px 42px;
    width: 50%;
}
.in_box{
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
}
.services{
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
}
@keyframes pulsing{
    0%{
        transform:  scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
.title2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 45px;
    color: #505d68;
    margin-bottom: 92px;
    animation: pulsing 2s infinite;
}
.text_in_box{
    margin-left: 13px;
    color: #747A7F;
    width: 50%;
    margin-right: 100px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 18px;
}
.image_service img{
    width: 100%;
}
.image_service{
    width: 50%;
}
.list{
    list-style: none;
    width: 50%;
    font-size: 18px;
    color: #747A7F;
    font-weight: 300;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
}

.project{
    background: url("../images/background_nora.png") no-repeat;
    padding-top: 16px;
    height: 100vh;
    background-size: 100% auto;
}
.nora{
    background-color: white;
    padding: 84px 0 55px;
}
.in_nora{
    max-width: 1155px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 85px 0 64px;
}
.in_nora:after{
    clear: both;
    content: "";
    display: block;
}
.inside{
    max-width: 1024px;
    margin: auto;
}
.block1{
    max-width: 665px;
    margin: auto;
    padding-top: 24px;
    float: left;
}
.supertitle{
    font: bold 45px 'Open Sans', sans-serif;
    color: black;
    margin-bottom: 129px;
}
.inform{
    font: 400 20px 'Cardo', serif;
    color: black;
    margin-bottom: 140px;
}
.bold{
    font-family: 'Cardo', serif;
    font-weight: 700;
}
.img_nora{
    width: 100%;
    margin-bottom: 21px;
}
.img_nora img{
    width: 100%;
}
.block2{
    max-width: 298px;
    margin: auto;
    float: right;
}
.letter{
    width: 100%;
    margin-bottom: 3px;
}
.social{
    background-color: white;
    padding: 105px 0 77px;
}
.button_social{
    text-transform: uppercase;
    color: #c0c0c0;
    font: 300 15px 'Open Sans', sans-serif;
    display: block;
    background-color: white;
    border: solid #a1a1a1 1px;
    max-width: 249px;
    width: 100%;
    text-align: center;
    margin: auto;
    line-height: 57px;
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: space-between;
}